# exiftool -config file defining the stereolenses XMP namespace used by spatialize.
%Image::ExifTool::UserDefined::stereolenses = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-stereolenses', 2 => 'Image' },
    NAMESPACE => { 'stereolenses' => 'http://stereolenses.com/xmp/1.0/' },
    WRITABLE => 'string',
    spatialized => { },
    parallax => { },
    infill => { },
    convergence => { },
);
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        stereolenses => {
            SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::stereolenses' },
        },
    },
);
1;
